.Home {
  margin: 0 24px;
  min-height: calc(100vh - (36px * 2 + 2.25em));
}

.Home h3 {
  margin: 1em 0;
  font-size: 2.5rem;
  font-style: italic;
}

.Home p {
  max-width: 40em;
  margin: 0.5em 0;
}
