:root {
  --background: white;
  --surface: #eee;
  --color: rgba(0, 0, 0, 0.8);
  --ink: rgba(0, 0, 0, 0);
  --ink-hover: rgba(0, 0, 0, 0.1);
}

.dark-mode {
  --background: #1a1a1a;
  --surface: black;
  --color: rgba(255, 255, 255, 0.8);
  --ink: rgba(255, 255, 255, 0);
  --ink-hover: rgba(255, 255, 255, 0.1);
}

body {
  background-color: var(--background);
  color: var(--color);
  transition: all 0.15s;
}

.Home h2 {
  margin: 0 32px 48px;
}

.Projects {
  max-width: 80em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  .Projects {
    flex-direction: column;
    align-items: center;
    flex-wrap: no-wrap;
  }

  .Project {
    margin-left: 0px;
  }
}
