@import "./elevation.css";

.BlogPost {
  max-width: 50em;
  padding: 32px 24px;
  margin: 0 32px 24px;
  border-radius: 8px;
  background: var(--surface);
  box-shadow: var(--elevation-z3);
}

.BlogPost h1 {
  line-height: 1.5em;
  font-style: italic;
}

@media (max-width: 512px) {
  .BlogPost {
    margin: 0 0 24px;
  }
}
