@import "./colors.css";

header {
  padding: 36px 36px 72px;
  background: var(--surface);
  box-shadow: 0px 130px 0px var(--surface);
  display: flex !important;
  flex-direction: row;
  transition: all 0.15s;
}

header h1 a {
  color: inherit;
  text-decoration: none;
}

header h1 {
  font-size: 2.25rem;
  font-style: italic;
  margin: 0;
  margin-right: auto;
}

header aside {
  display: flex;
  flex-direction: row;
}

@media (max-width: 512px) {
  header {
    padding-bottom: 148px;
  }

  header .settings,
  header aside {
    flex-direction: column;
    position: absolute;
    top: 30px;
  }

  header .settings {
    right: 80px;
  }

  header aside {
    right: 18px;
  }

  header aside .SocialMedia {
    margin-bottom: 24px;
  }
}

.SocialMedia,
.DarkModeToggle {
  width: 48px;
  height: 48px;
  padding: 10px;
  border-radius: 50%;
  margin-left: 32px;
  background: var(--ink);
  transition: background 0.15s;
  text-align: center;
  line-height: 28px;
  font-size: 28px;
  outline: none;
  cursor: pointer;
}

.SocialMedia:hover,
.DarkModeToggle:hover {
  background: var(--ink-hover);
}

.SocialMedia:active,
.DarkModeToggle:active {
  background: var(--color);
}

.SocialMedia img {
  width: 100%;
  height: 100%;
  display: block;
  transition: filter 0.15s;
}

.SocialMedia:active img {
  filter: invert(10);
}

.dark-mode .SocialMedia img {
  filter: invert(10);
}

.dark-mode .SocialMedia:active img {
  filter: invert(0);
}
