@import "./colors.css";

header {
  padding: 36px;
  background: var(--surface);
  display: flex !important;
  flex-wrap: wrap;
  flex-direction: row;
  transition: all 0.15s;
}

header.long {
  box-shadow: 0px 130px 0px var(--surface);
}

.dark-mode header {
  background-color: transparent;
  box-shadow: none;
}

header h1 a {
  color: inherit;
  text-decoration: none;
}

header h1 {
  font-size: 2.25rem;
  font-style: italic;
  margin: 0;
  margin-right: auto;
}

header nav {
  width: 100vw;
}

header aside {
  display: flex;
  flex-direction: row;
}

@media (max-width: 512px) {
  header {
    padding-bottom: 120px;
  }

  header .settings,
  header aside {
    flex-direction: column;
    position: absolute;
    top: 30px;
  }

  header .settings {
    right: 80px;
  }

  header aside {
    right: 18px;
  }

  header aside .SocialMedium {
    margin-bottom: 24px;
  }

  header nav ul {
    width: 10em;
    flex-direction: column;
  }
}
