header {
  padding: 36px;
  background: #eee;
  box-shadow: 0px 130px 0px #eee;
  display: flex !important;
  flex-direction: row;
}

header h1 a {
  color: inherit;
  text-decoration: none;
}

header h1 {
  font-size: 2.25rem;
  font-style: italic;
}

header aside {
  margin-left: auto;
  display: flex;
  flex-direction: row;
}

header .SocialMedia {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-left: 20px;
  display: flex;
  align-self: center;
  justify-content: center;
}

/* header .SocialMedia:hover {
  background: rgba(0,0,0,0.3);
} */

header .SocialMedia img {
  width: 38px;
  height: 38px;
  display: block;
}
